@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel

<div class="text-center">
    <section style="height:50px"></section>

    <div class="full-width overflow-hidden">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button onclick="play()" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button onclick="play()" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button onclick="play()" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button onclick="play()" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button onclick="play()" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item bg-dark active">
    <img src="~/images/s1.webp" class="d-block w-100 opacity-50" alt="..." loading="lazy">
    <div class="carousel-caption d-flex flex-column justify-content-center align-items-center gap-4 h-100 p-0">
        <h5 class="m-0 h1">
            Discover New DIY Projects
        </h5>
        <p class="m-0 w-50">
            Explore a variety of do-it-yourself projects with step-by-step guides and videos. Perfect for beginners and experts alike.
        </p>
        <a asp-controller="Categories" asp-action="Details" asp-route-id="1" class="btn bg-primary text-white w-25">
            Learn More
        </a>
    </div>
</div>
<div class="carousel-item bg-dark">
    <img src="~/images/s2.webp" class="d-block w-100 opacity-50" alt="..." loading="lazy">
    <div class="carousel-caption d-flex flex-column justify-content-center align-items-center gap-4 h-100 p-0">
        <h5 class="m-0 h1">
            DIY Home Improvement Tips
        </h5>
        <p class="m-0 w-50">
            Get the best tips and tricks for improving your home. From simple repairs to major upgrades, we have you covered.
        </p>
        <a asp-controller="Categories" asp-action="Details" asp-route-id="2" class="btn bg-primary text-white w-25">
            Learn More
        </a>
    </div>
</div>
<div class="carousel-item bg-dark">
    <img src="~/images/s3.webp" class="d-block w-100 opacity-50" alt="..." loading="lazy">
    <div class="carousel-caption d-flex flex-column justify-content-center align-items-center gap-4 h-100 p-0">
        <h5 class="m-0 h1">
            Crafting and Decor Ideas
        </h5>
        <p class="m-0 w-50">
            Find creative ideas for crafting and home decor. Personalize your space with unique and handmade touches.
        </p>
        <a asp-controller="Categories" asp-action="Details" asp-route-id="3" class="btn bg-primary text-white w-25">
            Learn More
        </a>
    </div>
</div>
<div class="carousel-item bg-dark">
    <img src="~/images/s4.webp" class="d-block w-100 opacity-50" alt="..." loading="lazy">
    <div class="carousel-caption d-flex flex-column justify-content-center align-items-center gap-4 h-100 p-0">
        <h5 class="m-0 h1">
            Outdoor Projects and Ideas
        </h5>
        <p class="m-0 w-50">
            Enhance your outdoor living space with our DIY projects. From garden tips to building furniture, find it all here.
        </p>
        <a asp-controller="Categories" asp-action="Details" asp-route-id="4" class="btn bg-primary text-white w-25">
            Learn More
        </a>
    </div>
</div>
<div class="carousel-item bg-dark">
    <img src="~/images/s5.webp" class="d-block w-100 opacity-50" alt="..." loading="lazy">
    <div class="carousel-caption d-flex flex-column justify-content-center align-items-center gap-4 h-100 p-0">
        <h5 class="m-0 h1">
            Innovative DIY Solutions
        </h5>
        <p class="m-0 w-50">
            Discover innovative solutions to everyday problems. Our DIY guides make it easy to tackle any challenge.
        </p>
        <a asp-controller="Categories" asp-action="Details" asp-route-id="5" class="btn bg-primary text-white w-25">
            Learn More
        </a>
    </div>
</div>
            </div>
            <button onclick="play()" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button onclick="play()" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <section class="bg-light full-width" style="height:150px;">
        <div class="container d-flex flex-row justify-content-between align-items-center h-100 gap-3 py-4">
            @foreach (var category in Model.Categories)
            {
                <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id" class="category-hover text-dark text-decoration-none category cursor-pointer d-flex flex-column justify-content-evenly align-items-center h-100">
                    <i class="fa-solid @category.Icon"></i>
                    <p class="text-justify m-0">@category.Name</p>
                </a>
            }
        </div>
    </section>

    <section class="projects pt-3 pb-5">

        <div class="py-3 d-flex justify-content-between">
            <h3>Our projects</h3>
            <div class="d-flex gap-3">
                <button class="border rounded-circle bg-white scroll-left" style="width: 40px; aspect-ratio: 1 / 1;" type="button">
                    <span> < </span>
                </button>
                <button class="border rounded-circle bg-white scroll-right" style="width: 40px; aspect-ratio: 1 / 1;" type="button">
                    <span> > </span>
                </button>
            </div>
        </div>
        <div id="projectCarousel" class="carousel slide">
            <div class="d-flex overflow-hidden pb-3 carousel-inner">
                @foreach (var project in Model.Projects)
                {
                    <a asp-action="Details" asp-controller="Projects" asp-route-id="@project?.Id" class="project-hover text-dark text-decoration-none">
                        <div class="d-flex gap-5 carousel-container">
                            <div class="card" style="width: 18rem; overflow: hidden">
                                <img src="~/images/@project?.ThumbnailURL" class="card-img-top" alt="..." loading="lazy" style="object-fit: cover; object-position: center; width: 100%; aspect-ratio: 1 / 1; z-index: 5">
                                <div class="card-body bg-white d-flex justify-content-between align-items-center" style="z-index: 10;">
                                    <h5 class="card-title" style="text-align: left !important">@project.Name</h5>
                                    <a href="#" class="btn btn-primary">Read Article</a>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </section>

    <section class="bg-contrast full-width py-4 mb-5">
        <div class="container d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items center gap-5">
                        <img src="~/gifs/stars-yellow-stars.gif" style="width: 100px; aspect-ratio: 1 / 1" alt="..." loading="lazy">

            <div class="text-white d-flex align-items-center flex-column justify-content-center">
                <h5 style="text-align: left;">Sign up for our newsletter</h5>
                <p class="m-0 text-left">Stay connected to Craftify experts</p>
            </div>
                    <img src="~/gifs/stars-yellow-stars.gif" style="width: 100px; aspect-ratio: 1 / 1" alt="..." loading="lazy">
                  </div>

            <div class="input-group w-25">
                <input type="text" class="form-control" placeholder="Enter email here..." aria-label="Email" aria-describedby="basic-addon1">
                <div class="input-group-postpend">
                    <button type="submit" class="btn bg-primary text-white">Submit</button>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
        <script>
            $(document).ready(function () {
                $('#carouselExampleIndicators').carousel({
                    interval: 5000
                });

                const scrollAmount = 636;

                $('.scroll-left').on('click', function () {
                    $('#projectCarousel .carousel-inner').animate({
                        scrollLeft: '-=' + scrollAmount
                    }, 800);
                });

                $('.scroll-right').on('click', function () {
                    $('#projectCarousel .carousel-inner').animate({
                        scrollLeft: '+=' + scrollAmount
                    }, 800);
                });

                var audio = new Audio('@Url.Content("~/audio/flip.mp3")'); 

                function play() {
                    return new Promise((resolve) => {
                        audio.play();
                        audio.onended = resolve; // Ensure the promise resolves after the audio finishes playing
                    });
                }

                function handleCarouselControlClick(event) {
                    event.preventDefault();
                    var button = event.currentTarget;
                    play().then(() => {
                        // Trigger the carousel slide after the audio plays
                        var slideTo = $(button).data('bsSlideTo');
                        $('#carouselExampleIndicators').carousel(slideTo);
                    });
                }

                // Attach the click event handler to the carousel control buttons
                $('.carousel-control-prev, .carousel-control-next, .carousel-indicators button').on('click', handleCarouselControlClick);
            });
        </script>
}