@model DIY_Site.Models.ProjectDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<div class="bg-light full-width py-5">
    <section class="container-1200px">
        <div class="flex"><a class="text-dark text-decoration-none bg-secondary-subtle p-2 hoverable" asp-action="Index" asp-controller="Home">Home</a> > <a class="text-dark text-decoration-none bg-secondary-subtle p-2 hoverable" asp-controller="Categories" asp-action="Details" asp-route-id="@Model.Project.CategoryId"> @Model.Project.Category.Name </a> > @Model.Project.Name</div>
        <hr />

        <div>
            <div class="px-3 d-flex justify-content-between align-items-center">
                <h2 class="m-0">@Model?.Project.Name</h2>
                @if (SignInManager.IsSignedIn(User))
                {
                    if (ViewData["Favorited"] != null && (bool)ViewData["Favorited"])
                    {
                        <a asp-action="Favorites" asp-route-id="@Model?.Project.Id" onclick="play()" class="btn btn-secondary m-0 favorite-btn">
                            <i class="fa-solid fa-star"></i> Remove from favorites
                        </a>
                    }
                    else
                    {
                        <a asp-action="Favorites" asp-route-id="@Model?.Project.Id" onclick="play()" class="btn btn-primary m-0 favorite-btn">
                            <i class="fa-regular fa-star"></i> Add to favorites
                        </a>
                    }
                }
            </div>
            <hr />
            <div class="d-flex">
                <div class="video-container" style="width: 800px; height: 480px;">
                    <video controls poster="~/images/@Model?.Project?.ThumbnailURL">
                        <source src="~/videos/@Model?.Project?.VideoURL" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>

                <div class="p-3 bg-secondary" style="width: 400px">
                    <h2 class="">@Model?.Project.Name</h2>
                    <hr />
                    <h4><i class="spinner-border fa-solid fa-hammer"></i> <span class="px-2">Supplies Needed</span> <i class="spinner-border fa-solid fa-hammer"></i></h4>
                    <ul class="mt-4">
                        @foreach (var supply in Model?.Supplies)
                        {
                            <li><h4 class="ms-2">@supply?.Name</h4></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="bg-secondary-subtle p-3">
                <p>@Model?.Project.Description</p>

                @{
                    var nextId = Model?.Project.Id + 1;
                    var prevId = Model?.Project.Id - 1;

                    if (nextId == 3)
                    {
                        nextId = 4;
                    }
                    if (nextId == 26)
                    {
                        nextId = 1;
                    }
                    if (prevId == 3)
                    {
                        prevId = 2;
                    }
                    if (prevId == 0)
                    {
                        prevId = 25;
                    }
                }
                <a asp-action="Details" asp-route-id="@prevId" class="btn btn-primary text-light mt-3">Go Back</a>
                <a asp-action="Details" asp-route-id="@nextId" class="btn btn-primary text-light ms-3 mt-3">View Next</a>
            </div>
        </div>
    </section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var favoriteButtons = document.querySelectorAll('.favorite-btn');
        var audio = new Audio('@Url.Content("~/audio/ding.mp3")'); 

        function playAudio() {
            return new Promise((resolve) => {
                audio.play();
                audio.onended = resolve;
            });
        }

        favoriteButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault(); 

                var url = button.getAttribute('href');

                playAudio().then(() => {
                    window.location.href = url; 
                });
            });
        });
    });
</script>

